name: NuGet Package Workflow
on:
  push:
    branches: [ "master" ]
jobs:
  create_nuget:
    name: Create NuGet Package
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4

      - name: Restore dependencies
        run: dotnet restore ./S3mphony.slnx
        
      - name: Build
        run: dotnet build ./S3mphony.csproj --configuration Release --no-restore
        
      - name: Pack
        shell: pwsh
        run: dotnet pack -p:PackageVersion=$([System.DateTime]::Now.ToString("yyyy.MM.dd.HHmm")) ./S3mphony.csproj --configuration Release --output ./S3mphony/bin/Release/net10.0
        
      - uses: actions/upload-artifact@v4
        with:
          name: nuget
          if-no-files-found: error
          retention-days: 7
          path: ./S3mphony/bin/Release/net10.0/*.nupkg
          
#########         
  deploy:
    name: Deploy NuGet
    runs-on: windows-latest
    needs: create_nuget
    if: success()
    steps:
      - name: Find latest from previous step artifact
        shell: pwsh
        run: |
          $packages = Get-ChildItem "." -Recurse -File -Include *.nupkg
          echo pwd
          ls
          foreach($file in (Get-ChildItem "./nuget" -Recurse -Include *.nupkg) {
            echo $file
            echo (Resolve-Path $file)
          }
          $score = { [Math]::Max($_.LastWriteTime.Ticks, $_.CreationTime.Ticks) }
          $newest = $packages | Sort-Object $score -Descending | Select-Object -First 1
          
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        
      - name: Publish NuGet package
        shell: pwsh
        run: |
          $path = Resolve-Path $newest
          dotnet nuget push $path --api-key "${{ secrets.NUGET_APIKEY }}" --source https://api.nuget.org/v3/index.json --skip-duplicate
        
##########
  release:
    name: Create release
    runs-on: windows-latest
    needs: deploy
    if: success()
    env:
      GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Create GitHub release
        run: |
          git fetch --tags
          NEW_TAG=$(git describe --tags --abbrev=0 origin/master)
          echo "Latest tag on master: $NEW_TAG"
          gh release create $NEW_TAG \
              --repo="$GITHUB_REPOSITORY" \
              --title="${NEW_TAG#v}" \
              --generate-notes \
              --generate-notes \
              --verify-tag \
              --latest



